.apple-popup .mapboxgl-popup-content {
    border-radius: 5px;
    box-shadow: 25px 30px rgb(0 0 0 / 30%);
    width:  250px;
    background-color: rgba(248, 248, 255, 0.8)

}
.apple-popup .mapboxgl-popup-tip {
    border-top-color: rgba(248, 248, 255, 0.8)
}